/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */


/* ======================================
Custom Color Palette
   ====================================== */

// Primary
$primary-50: #dff4f1;
$primary-300: #41bead;
$primary-400: #00af9b;

// Secondary
$secondary-50: #FFF8E1;
$secondary-100: #FFECB3;
$secondary-400: #FFCB29;
$secondary-500: #FFC20A;
$secondary-600: #FFB402;
$secondary-800: #ff9100;
$secondary-900: #ff7100;

// Blue
$blue-50: #e3f3fd;
$blue-200: #92CDFB;
$blue-300: #66B9F8;
$blue-400: #44a9f8;


// Grey
$grey-50: #f8f8f8;
$grey-100: #f1f1f1;
$grey-200: #E6E6E6;
$grey-300: #D6D6D6;
$grey-400: #B2B2B2;
$grey-500: #919191;
$grey-600: #676781;
$grey-700: #565656;

// Violet
$violet-500: #9a5dc6;

//Withe
$backgroud-white: #FFFFFF;
