/* ==========================================================================
   #CONTAINER-OBJECT
   ========================================================================== */

.o-container {
  &__header {
    margin: 0;
  }
  &__main {
    margin: 0;
    padding: 0;
  }
  &__aside {
    margin: 0;
    padding: 0;
  }
  &__footer {
    margin: 0;
    padding: 0;
  }
}
