/* ==========================================================================
   #WRAPPER-OBJECT
   ========================================================================== */

.o-page-wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1290px;
}

.o-sandwich-menu-wrapper {
  width: 24px;
  height: 16;
}
